
#services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

#service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   




#service-container img {
    border-radius: 5px;
}



#service-container p {
    font-size: 35px;
    font-family: 'NEOTERIC_BOLD';
    color: black;
    text-align: center;

}






@media only screen and (min-width: 0px) {
    #services-container{
        height: 2000px;
        margin: 20px 0;
    }

    #service-container {
        
        width: 100%;
        gap: 10px;
    }

    #service-container img {
        width: 200px;
        height: 200px;
    }
}



@media only screen and (min-width: 600px) {

    

    #services-container {
        width: 100%;
        height: 400px;
        margin: 10px 0;
    }

    #service-container {
        width: 25%;
        height: 155px;
       
    }

    #services-container p {
        font-size: 20px;
        width: 100%;
        height: auto;
    }   

    #service-container img {

        width: 125px;
        height: 125px;
    }




}


@media only screen and (min-width: 768px) {

    #services-container {
        height: 500px;
        width: 100%;
        margin: 15px 0;
        
    }

    #service-container img {
        width: 150px;
        height: 150px;
    }

    #service-container p {
    
        font-size: 25px;
        line-height: 25px;
    }
}

@media only screen and (min-width: 1024px) {
    
    #services-container {
        height: 700px;
        padding: 0 0;
        gap: 0px;
        padding: 15px 0
    }
    


    #service-container {
        width: 25%;
    }

    #service-container img {
        width: 200px;
        height: 200px;
    }

    #service-container p {   
        font-size: 35px;
        line-height: 35px;
    }

    
}


@media only screen and (min-width: 1440px) {

    #services-container {
        height: 700px;
        padding: 40px 140px;
    }
    


    #service-container img {
        width: 200px;
        height: 200px;
    }

    #service-container p {
        
        font-size: 40px;
        line-height: 40px;
        
    }

}



@media only screen and (min-width: 1920px) {

    #services-container {
        height: 800px;
        padding: 0 200px;
    }
    
    #service-container img {
        width: 250px;
        height: 250px;
    }


}
