#portfolio-container {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); 
    border-top: 2px solid rgba(0, 0, 0, 0.2); 
    margin-top: 40px;   
    padding: 20px;
}


#portfolio-container a {
 
    font-size: 20px;
    padding: 10px;

    border: 2px solid black;
    background-color: transparent; /* Initial background color */
    color: black; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    
    text-decoration: none;
    display: flex;          
    justify-content: center; 
    align-items: center;    
}

#portfolio-container a:hover {
    background-color: black;
    color: white;
}





@media only screen and (min-width: 556px) {
    #portfolio-container a {
        padding: 20px 25px;
    }
}



@media only screen and (min-width: 900px) {
    #portfolio-container {
        width: 80%;
    }
}


@media only screen and (min-width: 1024px) {
    #portfolio-container {
        width: 70%;
    }
    
    #portfolio-container a {
        font-size: 25px;
        padding: 20px 25px;
    }
}


@media only screen and (min-width: 1169px) {
    #portfolio-container {
        width: 65%;
    }

}

@media only screen and (min-width: 1440px) {
    #portfolio-container {
        width: 50%;
    }
}


@media only screen and (min-width: 1920px) {
    #portfolio-container {
        width: 45%;
        padding: 30px;
    }

    #portfolio-container a {
        font-size: 25px;
        padding: 30px 40px;
    }
}