/* Container and layout styles */
#portfolio-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#project-container p {
    font-family: 'NEOTERIC_BOLD';
}



#photo-container {
    width: 100%;
   
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    flex-wrap: wrap;

}


#image-container {
    position: relative;
    display: flex; /* Flexbox layout */
    width: 150px; /* Example width */
    height: 150px; /* Example height */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    overflow: hidden; /* Hide any overflow from child elements */
}

#portfolio-photo {
    object-fit: cover; /* Ensure the image covers the container */
    width: 100%; /* Scale the image to fill the container's width */
    height: 100%; /* Scale the image to fill the container's height */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}





#cross {
    position: absolute;
    top: 0; /* Align to the top of the second image */
    left: 0; /* Align to the left of the second image */
    width: 40px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    z-index: 10; /* Ensure it appears on top of the image */
    pointer-events: none; /* Prevent the cross from blocking interaction with the image */
}

/* Button styles */
#add_button {
    width: 300px;
    height: 100px;
    font-size: 20px;
    border: 2px solid black;
    background-color: transparent; /* Initial background color */
    color: black; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    text-decoration: none;
    margin-bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button:hover {
    background-color: black;
    color: white;
}

/* Form styles */
#add_residency_form {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add_residency_form p {
    width: 100%;
    text-align: center; /* Center text inside the p tag */
    margin: 20px 0;
}

#add_residency_form label {
    display: block;
    color: #555;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 2px;
}

#add_residency_form input[type="text"],
#add_residency_form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#add_residency_form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center; /* Center text inside the button */
}

#add_residency_form input[type="submit"]:hover {
    background-color: #45a049;
}

#add_residency_form span {
    color: red;
    font-size: 0.9em;
    text-align: center; /* Center error messages */
    display: block; /* Ensure the error messages are centered properly */
}


@media only screen and (min-width: 0px) {
    #project-container{
        margin-bottom: 30px;
    }

    #photo-container {
        gap: 5px;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    #project-container p {
        font-size: 30px;
    }

}



@media only screen and (min-width: 320px) {
    #project-container{
        margin-bottom: 30px;
    }

    #photo-container {
        gap: 5px;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    #project-container p {
        font-size: 30px;
    }

}


@media only screen and (min-width: 375px) {
    #photo-container {
        flex-direction: row;
    }
}




@media only screen and (min-width: 600px) {

    #photo-container {
        flex-direction: row;
        width: 100%;
        gap: 5px;
        margin-top: 10px;
    }

    #image-container{
        width: 125px;
        height: 125px;
    }

    #project-container p {
        font-size: 35px;
    }


}


@media only screen and (min-width: 768px) {
    #image-container{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    #portfolio-container {
        width: 75%;
    }

    #image-container{
        width: 150px;
        height: 150px;
    }

    #project-container p {
        font-size: 45px;
    }


    #photo-container {
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 1440px) {
    #image-container{
        width: 175px;
        height: 175px;
    }

    #portfolio-container {
        width: 60%;
    }

    #photo-container {
        margin-top: 40px;
    }
    

}


@media only screen and (min-width: 1920px) {

    #portfolio-container {
        width: 50%;
    }

    #image-container{
        width: 200px;
        height: 200px;
    }

    #photo-container {
        margin-bottom: 40px;
    }

}





