
<div id="info-container">
     
    <div id="info-top-container">
        <h1 id="title">AHB Carpentry & Wood Flooring</h1>  
    </div>
    
    <div id="info-bottom-container">
        <div id="info-left-container">
            
            <p class="quicksand-text">
                A.H.B is a cherished family-run business renowned for its exceptional carpentry and deep knowledge of craftmanship spanning over a decade. 
                Under the leadership of Lewis Hazel, we proudly uphold this legacy, offering some of the finest services in the Essex region.
            </p>

            <p class="quicksand-text">
                Trusted by homeowners and businesses across Maldon and its surroundings for years, we are committed to meticulous attention to detail in every project we undertake. 
                Whether enhancing residential spaces or transforming commercial interiors, AHB ensures customer satisfaction above all else.
            </p>
        </div>

        <div id="info-right-container">
            <div id="phone-container">
                <h1>Phone</h1>
                <p class="quicksand-text">07534 005907</p>
            </div>

            <div id="location-container">
                <h1>Location</h1>
                <p class="quicksand-text">  Maldon,</p>
                <p class="quicksand-text">  Essex</p>


            </div>
        
            <a href="{{ url_for('AHB.contact') }}" class="dosis-header">CONTACT US</a>
        </div>
    </div>

</div>