<div id="what-we-do-container">

    
    <div id="what-we-do-container-left-side">
        <img src="{{ url_for('static', filename='images/stock/blended_image.png') }}" alt="Blended work photo" >
    </div>

    <div id="what-we-do-container-right-side">
        <h1>WHAT WE DO</h1>
     
        <p class="quicksand-text">At A.H.B, we take pride in delivering top-notch carpentry services tailored to meet the unique needs of each of our clients. </p>
        <p class="quicksand-text">With over a decade of experience and a keen eye for detail, our skilled carpenters are committed to transforming your vision into reality. Here's a glimpse of the services we offer:</p>
        

        <ol>
            <li class="quicksand-text"></li>SKIRTING</li>
            <li class="quicksand-text"></li>ARCHITRAVE</li>
            <li class="quicksand-text"></li>DOOR LININGS & ADJUSTING</li>
            <li class="quicksand-text"></li>PANELLING</li>
            <li class="quicksand-text"></li>LAMINATE FLOORING</li>
            <li class="quicksand-text"></li>WOODEN FLOORING</li>
        </ol>
        
      
        
        <a href="{{ url_for('AHB.services') }}" class="dosis-header">SERVICES</a>

    </div>
</div>