<footer>
    <div id="footer-container">
        <div id="footer-social-media-container">
            <a href="https://www.facebook.com/AHBCarpentryandwoodflooring/" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/facebook_white.png') }}" alt="Facebook icon">
            </a>
            
            <a href="https://www.instagram.com/ahb_carpentry/" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/instagram_white.png') }}" alt="Instagram icon">
            </a>
            
        </div>

        <div id="footer-logo-container">
            <a href="{{ url_for('auth.login') }}">
                <img src="{{ url_for('static', filename='images/logos/white_small.png') }}" alt="Facebook logo">
            </a>
        </div>



        
        <div id="footer-text-container">
            <p>&copy; Copyright 2024 AHB Carpentry & Wood Flooring</p>
            <p>Development & Website by <a href="https://github.com/LunaTMT" >Taylor Threader</a></p>
        </div>
    </div>
</footer>
